.form {
   max-width: 500px;
   margin: 40px auto 0;
   text-align: center;
}

.form__header {
   max-width: 600px;
   margin: 20px auto;
   text-align: center;
   border-bottom: 4px solid rgb(125, 178, 37);
   padding-bottom: 15px;
   font-size: 30px;
   font-weight: 400;
}

.form__label {
   display: block;
   margin: 30px;
}

.form__labelText {
   display: inline-block;
   width: 150px;
   margin: 0 0 10px;
   font-size: 20px;
}

.form__field {
   max-width: 400px;
   padding: 5px;
   border-radius: 5px;
   border: 2px solid #bbb;
}

.form__field:invalid {
   border: 2px solid rgb(255, 186, 186);
   background-color: rgba(255, 186, 186, 0.541);
}

.form__field--size {
   max-width: 211px;
   padding: 8px;
}

.form__button {
   margin: 0 20px 15px;
   padding: 10px 20px;
   background-color: hsl(83, 73%, 39%);
   border: 2px solid hsl(83, 73%, 35%);
   border-radius: 5px;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   text-shadow: 2px 2px 2px rgb(41, 56, 15);
   cursor: pointer;
   transition: transform 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.form__button:hover {
   transform: scale(1.05);
   background-color: hsl(83, 73%, 37%);
}

.form__button:active {
   background-color: hsl(83, 73%, 35%);
}

.form__paragraph {
   margin: 20px 0;
}