html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

body {
  padding: 0 5%;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ddd;
  background-image: url(bg-image.png);
  background-size: cover;
}